.task-card {
    max-width: 400px;
    box-shadow: 1px 1px 1px 1px white;
}
  
.task-header-image {
    background-image: url('https://www.shareicon.net/data/512x512/2017/01/06/868320_people_512x512.png');
    background-size: cover;
}
.adjust-margins-10 {
    margin: 10px;
}

.table-format {
    background-color: #17a2b8;
}
.table-tr-format {
    color: white;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid;
}