.container-nav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar{
    display: flex;
    justify-content: center;
}

.mat-list-item a{
    color: white;
    text-decoration: none;
}
.adjust-margins-10 {
  margin: 10px;
}
